{% extends 'base.html' %}


{% block title %}
  main
{% endblock title %}



{% block content %}
  <!-- MAIN CONTENT -->
  <div class="container">
    <section id="recipes">
      <h1>Recipes</h1>
  
      <div class="recipe-cards">

        <!-- recipe card -->
        <div class="recipe-card">
          <div class="recipe-img">
            <img src="imgs/img1.jpg" alt="">
          </div>
          
          <div class="description">
            <div class="time">
              <p>30 mins</p><a href="#">Like</a>
            </div>
            
            <a href="#"><h2>Banana Oatmeal</h2></a>
          
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia placeat excepturi libero hic quis quod.</p>
  
          <div class="user">
            
            <a href="#">
              <div class="user-img">
                <img src="imgs/user1.jpeg" alt="">
              </div>
            </a>
            
            <div class="user-info">
              <h3>Cristian To-ong</h3>
              <p class="date">April 30, 2021</p>
            </div>
          </div>
          </div>
        </div>
        <!-- end recipe card -->

         <!-- recipe card -->
         <div class="recipe-card">
          <div class="recipe-img">
            <img src="imgs/img1.jpg" alt="">
          </div>
          
          <div class="description">
            <div class="time">
              <p>30 mins</p><a href="#">Like</a>
            </div>
            
            <a href="#"><h2>Banana Oatmeal</h2></a>
          
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia placeat excepturi libero hic quis quod.</p>
  
          <div class="user">
            
            <a href="#">
              <div class="user-img">
                <img src="imgs/user1.jpeg" alt="">
              </div>
            </a>
            
            <div class="user-info">
              <h3>Cristian To-ong</h3>
              <p class="date">April 30, 2021</p>
            </div>
          </div>
          </div>
        </div>
        <!-- end recipe card -->

         <!-- recipe card -->
         <div class="recipe-card">
          <div class="recipe-img">
            <img src="imgs/img1.jpg" alt="">
          </div>
          
          <div class="description">
            <div class="time">
              <p>30 mins</p><a href="#">Like</a>
            </div>
            
            <a href="#"><h2>Banana Oatmeal</h2></a>
          
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia placeat excepturi libero hic quis quod.</p>
  
          <div class="user">
            
            <a href="#">
              <div class="user-img">
                <img src="imgs/user1.jpeg" alt="">
              </div>
            </a>
            
            <div class="user-info">
              <h3>Cristian To-ong</h3>
              <p class="date">April 30, 2021</p>
            </div>
          </div>
          </div>
        </div>
        <!-- end recipe card -->

         <!-- recipe card -->
         <div class="recipe-card">
          <div class="recipe-img">
            <img src="imgs/img1.jpg" alt="">
          </div>
          
          <div class="description">
            <div class="time">
              <p>30 mins</p><a href="#">Like</a>
            </div>
            
            <a href="#"><h2>Banana Oatmeal</h2></a>
          
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia placeat excepturi libero hic quis quod.</p>
  
          <div class="user">
            
            <a href="#">
              <div class="user-img">
                <img src="imgs/user1.jpeg" alt="">
              </div>
            </a>
            
            <div class="user-info">
              <h3>Cristian To-ong</h3>
              <p class="date">April 30, 2021</p>
            </div>
          </div>
          </div>
        </div>
        <!-- end recipe card -->


      </div>
    </section>
  </div>
{% endblock content %}
  