{% extends 'base.html' %}



{% block content %}
<div class="main-page-header">
  <div class="container">
    <div id="register-page">
      
      <div style="background: #fff; padding: 3rem 5rem; width: 424px;">
        <form method='POST'>
          {% csrf_token %}
          <p style="margin-bottom: 1rem;">Email</p>
          {{form}}
          <br>
          <br>
          <button type="submit" class="password-reset-button">Reset Password</button>
        </form>
      </div>

        
      

    </div>
  </div>
</div>
{% endblock content %}
  